<div class="buttons">
	<div class="pull-left">
	  <img src="admin/view/image/payment/coinolive.png"/>
	</div>
	</br>
	<div class="pull-right">
	  <a href="{{ coinolive_link }}" class="btn btn-primary">{{ button_confirm }}</a>
	</div>
</div>